.quotes-setting-box {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: #333333;
  mix-blend-mode: normal;
  text-transform: capitalize;
}
.sub-list-container {
  padding-left: 20px !important;
}

.modal-body {
  height: 480px;
  .quotes-setting-box {
    height: 280px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    padding: 0 10px;
  }
}

@media (min-height: 700px) {
  .modal-body {
    height: 580px;
    .quotes-setting-box {
      height: 380px !important;
      overflow-y: auto !important;
      overflow-x: hidden;
      padding: 0 10px;
    }
  }
}

@media (min-height: 800px) {
  .modal-body {
    height: 680px;
    .quotes-setting-box {
      height: 480px !important;
      overflow-y: auto !important;
      overflow-x: hidden;
      padding: 0 10px;
    }
  }
}

@media (min-height: 900px) {
  .modal-body {
    height: 780px;
    .quotes-setting-box {
      height: 580 !important;
      overflow-y: auto !important;
      overflow-x: hidden;
      padding: 0 10px;
    }
  }
}

.active-quotes-option {
  height: 16px;
  width: 8px;
  background: transparent;
  border-right: 3px solid #14b268;
  border-bottom: 3px solid #14b268;
  transform: rotate(45deg);
}

.nav-tabs > li > a.active,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover {
  text-decoration: none;
  font-weight: bold !important;
  border-radius: 0px;
  border-bottom-width: 4px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #14b268 !important;
  color: #000 !important;
  background-color: transparent !important;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  .nav-link {
    &.active {
      border-color: transparent !important;
    }
  }
  li {
    a {
      color: gray !important;
      font-weight: bold !important;
      border-radius: 0px;
      border-bottom-width: 4px;
      border-color: transparent !important;
    }
  }
}

// @media screen and (max-width: 768px) {
//   .modal-body {
//     min-height: 530px !important;
//   }
//   .mobile-mb50 {
//     margin-bottom: 50px !important;
//   }
// }
