<div id="login-container" class="container">
    <div class="logo-container">
        <img class="img-fluid h45" alt="" src="../../../assets/icons/logo/MangoDisplay_Logo.png">
        <!-- <div class="beta-text">Beta</div> -->
    </div>
    <div class="field-container">
        <div class="title">
            Reset Password
            <!-- {{ 'AUTHENTICATION.RESETPASSWORD.TITLE' | translate }} -->
        </div>
        <div class="mt60">
            <div class="row text-align-left">
                <div class="col-12">
                    <div class="md-form">
                        <input mdbInput type="email" id="email" class="form-control" [(ngModel)]="email.value">
                        <label for="email" class="">
                            <!-- {{ 'INPUTFIELDS.EMAIL' | translate }} -->
                            Email
                        </label>
                        <span class="error-text">{{email.error}}</span>
                    </div>
                </div>
            </div>
            <div class="row mt50">
                <div class="col-12 text-align-center">
                    <button class="btn btn-primary" (click)="resetPassword()">
                        <!-- {{ 'AUTHENTICATION.RESETPASSWORD.BUTTONTEXT' | translate }} -->
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="signup-text mt35 mb40">
        <!-- {{ 'AUTHENTICATION.RESETPASSWORD.RETURNTEXT' | translate }} -->
        Remembered password? return to 
        <a class="link" [routerLink]="['/login']">
            Login
            <!-- {{ 'AUTHENTICATION.LOGIN.TITLE' | translate }} -->
        </a>
    </div>
</div>