div#nav-container {
  // position: fixed;
  width: 100%;
}
.layoutHeight {
  height: calc(100vh - 148px);
  position: relative;
}
.widget {
  position: absolute;
  padding: 5px;
  opacity: 0.8;
}
.widget-tiles {
  display: inline-flex;
  align-items: center;
}
.centered-widget-box {
  display: flex;
  align-items: center;
  height: 100%;
}
.img-widget {
  width: 90%;
}
.fixed-icon-height {
  position: absolute;
  top: 10px;
  height: 24px !important;
  padding-right: 0px;
}
.z-index-999 {
  z-index: 999 !important;
}

.widget-name {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 13px 0 2px;
}
.widget-box .ng-resizable-diagonal {
  border: 0px;
}

.r_position {
  position: relative;
}

.delay-time {
  font-size: 12px;
  color: rgba(75, 81, 85, 0.5);
  display: flex;
}
.clock-widget {
  background-color: #5fbda4 !important;
  //border: 2px solid #5fbda4;
  border: 3px solid #dcdcdc;
}

.countdown-widget {
  background-color: #cc99a2 !important;
  //border: 2px solid #5fbda4;
  border: 3px solid #dcdcdc;
}

.weather-widget {
  background-color: #5d9dd6 !important;
  //border: 2px solid #5d9dd6;
  border: 3px solid #dcdcdc;
}
.news-widget {
  background-color: #c6682e !important;
  //border: 2px solid #c6682e;
  border: 3px solid #dcdcdc;
}
.quotes-widget {
  background-color: #9b59b6 !important;
  //border: 2px solid #9b59b6;
  border: 3px solid #dcdcdc;
}

.health-widget {
  background-color: #dd081a !important;
  //border: 2px solid #dd081a;
  border: 3px solid #dcdcdc;
}

.calendar-widget {
  background-color: #485769 !important;
  //border: 2px solid #485769;
  border: 3px solid #dcdcdc;
}

.image-widget {
  background-color: #875f9a !important;
  //border: 2px solid #875F9A;
  border: 3px solid #dcdcdc;
}

.notes-widget {
  background-color: #9fbfdf !important;
  //border: 2px solid #9fbfdf;
  border: 3px solid #dcdcdc;
}
.active-widget {
  border: 2px solid black !important;
}
.saving-text {
  position: absolute;
  bottom: 20px;
  left: 35px;
  z-index: 9999;
  width: auto;
  background: #14b268;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
.saved-text {
  -webkit-animation: fadeOut 2s linear forwards;
  animation: fadeOut 2s linear forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.align-add-layout-btn {
  position: absolute;
  margin-left: 30px;
}
.radio-btn-container {
  max-width: 108px;
  height: 20px;
}

.page-index-container {
  display: flex;
}
.page-index {
  display: inline;
}
.inactive-page {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  border: 2px solid rgba(75, 81, 85, 0.7);
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 13px;
  margin: 0 5px;
}
.active-page {
  color: white;
  line-height: 18px;
  border: 2px solid #14b268;
  background: #14b268;
  font-size: 13px;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 5px;
}

:host {
  ::ng-deep {
    .nav-title {
      right: 145px;
    }
  }
}

.layout {
  max-height: calc(80vh - 15px);
}

// .ng-resizable-diagonal{
//   visibility: hidden;
// }

.ng-dragging {
  border: 2px solid #12b367 !important;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: grabbing !important;
}

.widget-box {
  cursor: move;
}

.widget:hover {
  box-shadow: 2px 2px 10px green;
  border: 2px solid green !important;

  .ng-resizable-se {
    border-radius: 20px;
    width: 12px;
    height: 12px;
    border: 2px solid green;
    position: absolute;
    background: #ccc;
    right: -7px;
    bottom: -7px;
  }

  .ng-resizable-sw {
    border-radius: 20px;
    width: 12px;
    height: 12px;
    border: 2px solid green;
    position: absolute;
    background: #ccc;
    left: -6px;
    bottom: -7px;
  }

  .ng-resizable-ne {
    border-radius: 20px;
    width: 12px;
    height: 12px;
    border: 2px solid green;
    position: absolute;
    background: #ccc;
    right: -6px;
    top: -7px;
  }

  .ng-resizable-nw {
    border-radius: 20px;
    width: 12px;
    height: 12px;
    border: 2px solid green;
    position: absolute;
    background: #ccc;
    left: -6px;
    top: -7px;
  }
}

#widgets-dragdrop {
  background-image: linear-gradient(#cccccc33 1px, #ffffff10 1px),
    linear-gradient(to right, #cccccc33 1px, #ffffff10 1px);
  background-size: 20px 20px;
  background-position: -5px -3px;
  border: 0.1px solid #d3d8de;
}

.ng-draggable {
  cursor: grab;
}

.gif-widget {
  background: #4287f5;
  border: 3px solid #dcdcdc;
}

.stack_widget {
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: 1000;
}

.iframily-widget {
  background-color: #ca3778 !important;
  border: 3px solid #dcdcdc;
}

.google-docs-widget {
  background-color: #1493c2 !important;
  border: 3px solid #dcdcdc;
}
.microsoft-docs-widget {
  background-color: #4a80c1 !important;
  border: 3px solid #dcdcdc;
}

.embed-html-widget {
  background-color: #7669b1 !important;
  border: 3px solid #dcdcdc;
}

.embed-website-widget {
  background-color: #944f91 !important;
  border: 3px solid #dcdcdc;
}

.pdf-doc-widget {
  background-color: #a13666 !important;
  border: 3px solid #dcdcdc;
}

.video-widget {
  background-color: #822900 !important;
  border: 3px solid #dcdcdc;
}

.airtable-widget {
  background-color: #006e83 !important;
  border: 3px solid #dcdcdc;
}

.todo-widget {
  background-color: #b58761 !important;
  border: 3px solid #dcdcdc;
}

.chores-widget {
  background-color: #004466 !important;
  border: 3px solid #dcdcdc;
}

.mealplan-widget {
  background-color: #5c4033 !important;
  border: 3px solid #dcdcdc;
}

/* app.component.css */

.sortable-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  background-color: #f9f9f9;
}

.sortable-container:hover {
  overflow-x: auto;
}

.sortable-item {
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
