@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.modal-height {
  height: auto;
}
.custom-modal-header {
  text-decoration: underline;
  font-weight: 600;
}
.content {
  margin: 24px;
}

.viewdisplay-icon {
  border: 0.5px solid #a6aab4;
  border-left: none;
}
