@media (min-height: 400px) {
  .modal-body1 {
    max-height: 280px !important;
    align-items: center;
    display: flex;
  }
}

@media (min-height: 500px) {
  .modal-body1 {
    max-height: 380px !important;
    align-items: center;
    display: flex;
  }
}

@media (min-height: 600px) {
  .modal-body1 {
    max-height: 480px !important;
    align-items: center;
    display: flex;
  }
}

@media (min-height: 700px) {
  .modal-body1 {
    max-height: 580px !important;
    align-items: center;
    display: flex;
  }
}

@media (min-height: 800px) {
  .modal-body1 {
    max-height: 680px !important;
    align-items: center;
    display: flex;
  }
}

@media (min-height: 900px) {
  .modal-body1 {
    max-height: 780px !important;
    align-items: center;
    display: flex;
  }
}
