<div id="nav-container">
  <div class="mirror-nav">
    <strong>Change Password</strong>
  </div>
</div>
<div id="change-password-container" class="container">
  <div class="row mt40">
    <div class="col-12">
      <div class="md-form text-align-left">
        <input
          mdbInput
          type="password"
          id="oldPassword"
          class="form-control"
          [(ngModel)]="changePassData.oldPassword.value"
        />
        <label for="oldPassword" class="">Old Password</label>
        <span class="error-text">{{changePassData.oldPassword.error}}</span>
      </div>
    </div>
  </div>
  <div class="row mt20">
    <div class="col-12">
      <div class="md-form text-align-left">
        <input
          mdbInput
          type="password"
          id="newPassword"
          class="form-control"
          [(ngModel)]="changePassData.newPassword.value"
        />
        <label for="newPassword" class="">New Password</label>
        <span class="error-text">{{changePassData.newPassword.error}}</span>
      </div>
    </div>
  </div>
  <div class="row mt20">
    <div class="col-12">
      <div class="md-form text-align-left">
        <input
          mdbInput
          type="password"
          id="confirmNewPassword"
          class="form-control"
          [(ngModel)]="changePassData.confirmNewPassword.value"
        />
        <label for="confirmNewPassword" class="">Confirm New Password</label>
        <span class="error-text">{{changePassData.confirmNewPassword.error}}</span>
      </div>
    </div>
  </div>
  <div class="row mt40">
    <div class="col-12 text-align-center">
        <button class="btn btn-secondary" (click)="discardChanges()">CANCEL</button>
        <button class="btn btn-primary ml25" (click)="saveChanges()">UPDATE</button>
    </div>
  </div>
</div>
