.modal-body {
  padding: 15px !important;
  max-height: calc(100vh - 70px) !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  letter-spacing: -0.3px;
  color: #333333;
}

.custom-modal-close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  margin-top: 2px;
}
.privacy-link {
  font-size: 10px;
  text-decoration-line: underline;
  color: #0198c8;
}
.tag-line {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #14b268;
}
.subscription-details {
  color: #979998;
}
.btn-custom-size {
  min-width: 200px;
}
.plan-desc {
  font-size: 12px;
}
.carousel-indicators {
  bottom: -35px !important;
}
.carousel-indicators li {
  background-color: #c4c4c4 !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
.carousel-indicators .active {
  background-color: #14b268 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #14b268;
  border-color: #14b268;
}
.img-section {
  padding: 0 15px;
}
.sideview {
  padding: 0 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.active-plan {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
}

.fields {
  font-size: 15px;
  padding: 8px;
  border: 2px solid #cecaca;
  border-radius: 5px;
  align-items: center;
  color: #14b268;
}

.paybutton {
  color: white;
  font-size: 15px;
  padding: 8px;
  border: 2px solid #cecaca;
  border-radius: 5px;
  background-color: #14b268;
  align-items: center;
}

.paymentlabel {
  font-size: 15px;
  font-weight: 600;
}

.plan-label {
  height: 80px;
  width: 250px;
  background-color: #eee;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid #ddd;
}

.selected-plan-label {
  background-color: #eee;
  border: 2px solid #14b268;
}

.page-links {
  font-size: 14px;
  font-weight: 600;
  color: #14b268;
}

.btn_danger {
  background: #ff4d7e;
  color: #ffffff;
}

.btn_active {
  background: #12b367;
  color: #ffffff;
  font-weight: bold !important;
}

/** Toggler CSS */
.switchToggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.switchToggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  display: block;
  background: #cecece;
  border-radius: 100px;
  position: relative;
  margin-bottom: 0 !important;
}
.switchToggle input:checked + label {
  background: #14b268 !important;
}
.switchToggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 90px;
  transition: 0.2s ease-in;
}

.switchToggle input:checked + label:after,
.switchToggle input:checked + input + label:after {
  left: calc(80% - 0px);
  transform: translateX(-60%);
}

.toggle-switchArea {
  margin: 10px 0 10px 0;
}
/** Toggler CSS ends here. */

.paymnet-plan-box {
  display: grid;
  height: fit-content;
  justify-content: center;
}

.payment-plan-desc-box {
  background: #ffffff;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 340px;
  color: #ffffff;
  padding-bottom: 17px;
}

.currency {
  font-size: 20px;
  top: -20;
}

.light-gray {
  background-color: #d2d1d1;
}

.main-container {
  color: #333333;
  font-style: normal;
  background-color: #fff;
  padding: 0px 0px 15px 0px;
}

@media screen and (min-width: 400px) {
  .sub-p1 {
    font-size: 10px;
    font-weight: 200;
  }

  .sub-p2 {
    font-size: 20px;
    font-weight: 400;
  }

  .plan-bt-message1 {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {
  .sub-p1 {
    font-size: 15px;
    font-weight: 200;
  }

  .sub-p2 {
    font-size: 25px;
    font-weight: 400;
  }

  .plan-bt-message1 {
    font-size: 22px;
  }
}

@media screen and (min-width: 800px) {
  .sub-p1 {
    font-size: 20px;
    font-weight: 200;
  }

  .sub-p2 {
    font-size: 30px;
    font-weight: 400;
  }

  .plan-bt-message1 {
    font-size: 27px;
  }
}

@media screen and (min-width: 1000px) {
  .sub-p1 {
    font-size: 25px;
    font-weight: 200;
  }

  .sub-p2 {
    font-size: 35px;
    font-weight: 400;
  }

  .plan-bt-message1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-p1 {
    font-size: 30px;
    font-weight: 250;
  }

  .sub-p2 {
    font-size: 40px;
    font-weight: 450;
  }

  .plan-bt-message1 {
    font-size: 37px;
  }
}

@media screen and (min-width: 1400px) {
  .sub-p1 {
    font-size: 35px;
    font-weight: 300;
  }

  .sub-p2 {
    font-size: 50px;
    font-weight: 500;
  }

  .plan-bt-message1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1600px) {
  .sub-p1 {
    font-size: 40px;
    font-weight: 350;
  }

  .sub-p2 {
    font-size: 55px;
    font-weight: 550;
  }

  .plan-bt-message1 {
    font-size: 50px;
  }
}

@media (min-width: 1800px) {
  .sub-p1 {
    font-size: 45px;
    font-weight: 400;
  }

  .sub-p2 {
    font-size: 60px;
    font-weight: 600;
  }

  .plan-bt-message1 {
    font-size: 55px;
  }
}

.plan-toggle {
  font-style: normal;
  font-weight: 450;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
}

.plan-toggle-box {
  height: 84px;
  width: 439px;
}

.month-free-box {
  background-color: #12b367;
  height: 27px;
  width: 99px;
  border-radius: 10px;
  margin-left: 90px;
}

.month-free-text {
  line-height: 27px;
  height: 27px;
  width: 99px;
  font-size: 10px;
  color: #f5f5f5;
  background: #12b367;
  border-radius: 15px;
  margin-left: 140px;
  padding: 0px 10px;
}

.sub-pl-bg {
  background-image: url(../../../assets/icons/sub_black_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -37px;
}

.sub-fc-lg {
  color: #13a661;
}

.sub-fc-g {
  color: #12b367;
}

.plan-name-desc-title {
  width: 110px;
}

.plan-price {
  color: #4d4d4d;
  font-size: 40px;
}

.plan-feature-title-col {
  color: #4d4d4d;
  font-weight: 600;
  font-size: 11px;
}

.plan-feature-desc-col {
  color: #999999;
  font-weight: 600;
  font-size: 10px;
}

.plan-feature-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.right-menu-button {
  position: absolute;
  right: 20px;
  left: auto;
  bottom: auto;
  z-index: 1;
}
