.forgot-password-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  letter-spacing: -0.3px;
  text-decoration-line: underline;
  color: #5a5561;
}
.signup-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #555555;
}
