<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body setting-scrolling-div">
      <div class="custom-modal-header">Delete Profile</div>
      <div class="confirm-profile-delete-box mt35">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <div *ngIf="isSubscriptionAvailable==false">
                Are you sure you want to delete your profile?
                <br>
                All your data will be deleted and you will no longer be able to access your account.
              </div>
              <div *ngIf="isSubscriptionAvailable==true">
                You currently have an active subscription. Please go to the ‘Payments & Plans’ section in your profile and cancel any active subscription and then try again.
              </div>
              
            </div>
          </div>
          <div class="col-12 mt35" *ngIf="isSubscriptionAvailable==false">
            <button
              class="btn btn-secondary"
              (click)="confirmProfileDeleteModal.hide()"
            >
              Cancel
            </button>
            <button class="btn btn-primary ml15" (click)="deleteProfile()">
              Ok
            </button>
          </div>
          <div class="col-12 mt35" *ngIf="isSubscriptionAvailable==true">
            <button class="btn btn-primary ml15"  (click)="confirmProfileDeleteModal.hide()">
              Okay
            </button>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
