#div1 {
  font-size: 16px;
}

.cal-btn-primary {
  padding: 10px 16px;
  background: #ffffff !important;
  border-radius: 4px;
  border: 2px solid #14b268 !important;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.25px;
  color: black !important;
  outline: none !important;
}

.block {
  text-align: left;
  display: inline-block;
}

.cal-primary-active {
  background: #14b268 !important;
  color: #ffffff !important;
}

.cal-btn-primary:hover,
.cal-btn-primary:not(:disabled):not(.disabled).active,
.cal-btn-primary:not(:disabled):not(.disabled):active,
.show > .cal-btn-primary.dropdown-toggle {
  border-color: #14b268 !important;
  background: #14b268 !important;
  color: #ffffff !important;
}

.pd6 {
  padding: 6px !important;
}

.custom-checkbox input:checked ~ .checkbox {
  background-color: #14b268;
  border: none;
}

.checkbox-title {
  font-size: 16px;
}

.btn-secondary {
  background: #ffffff !important;
  border: 1px solid #14b268 !important;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px !important;
  color: black !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 100%;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #14b268;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
